* { margin: 0; padding: 0; outline: 0; }

body {
        min-height: 100%;
}

h3 {
        height: 100px;
}

.black_overlay{
        display: none;
        position: fixed;
        top: 0%;
        left: 0%;
        width: 100%;
        min-height: 100%;
        background-color: grey;
        z-index:1001;
        -moz-opacity: 0.8;
        opacity:.80;
        filter: alpha(opacity=80);
}

.white_content {
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        display: none;
        position: fixed;
        top: 25%;
        left: 25%;
        width: 50%;
        height: 50%;
        padding: 16px;
        border: 4px solid #0085cd;
        background-color: white;
        z-index:1002;
        overflow: auto;
        font-family:Arial, sans-serif;
        font-size:13px;
}

.img{
        height: 250px;
        width: 250px;
        float:left;
}

.popup_close {
        float:right;
}

.result {
        position:absolute;
        bottom: 100px;
        right: 100px;
}

.mail {
        position:absolute;
        bottom: 225px;
        right: 150px;
}

.bouton {
        text-align: center;
        vertical-align: bottom;
}